.activity-form-container {
    font-size: 14px;
     margin: 20px 200px 20px 200px;
    padding: 0 16px;
    min-height: 500px;
}

.section-one {
    display: flex;
}

.activity-form {
    margin-top: 20px;
    margin-bottom: 40px;
}

hr{
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccccd1;
}


.error-messages {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

input.form {
    border: 1px solid #ccccd1;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 25px;
    width: 150px;
    text-align: left;
    padding-left: 5px;
}

input.time {
    border: 1px solid #ccccd1;
    margin-top: 15px;
    // margin-right: 10px;
    margin-bottom: 15px;
    height: 25px;
    width: 80px;
    text-align: left;
    padding-left: 5px;
}
input.form::placeholder {
    color: #ccccd1;
}

input::placeholder {
    color: #ccccd1;
}


input.input-title {
    width: 360px;
}

.select-form {
    margin-top: 15px;
    height: 25px;
    width: 100px;
}

.section-two {
    display: flex;
}

input.metrics {
    width: 50px;
}

.duration-flex {
    display: flex;
}

.elevation-container {
    margin-left: 15px;
}

.distance-div {
    display: flex;
}

.elevation-div {
    display: flex;
}

input.placeholders {
    width: 50px;
}

textarea::placeholder {
 color: #ccccd1;
}

.description-text {
    margin-top: 15px;
    width: 700px;
    height: 100px;
    margin-bottom: 50px;
    border: 1px solid #ccccd1;
    padding: 5px;
}

input::placeholder {
    padding-left: 2px;
}

textarea::placeholder {
    padding-left: 2px;
}

.input {
    padding-left: 5px;
}

.activity-route {
    margin-left: 20px;
}
.select-route {
    width: 150px;
}
