.dashboard-container {
    display: flex;
    min-height: 600px;
    width: 1200px;
    margin: auto;
}

.dash-container-left {
    background: grey;
    filter: brightness(80%);
    width: 300px;
}

.dash-container-right {
    background-color: grey;
      filter: brightness(95%);
    width: 300px;
}

.dash-container-mid {
    background-color: black;
    width: 600px;
    
}

.feed-container {
    display: flex;
    justify-content: center;

}

.feeds-list {
    margin: 30px;
}

.feed {
    display: block;
    margin: 30px auto;
    background-color: grey;
    width: 525px;
    height: 225px;
}

