.dashboard-container {  
    display: flex;
    background: #f7f7fa;
}

.dash-container-left {
    background: #f7f7fa;
    width: 33%
}

.dash-container-right {
    background-color: #f7f7fa;
    width: 26%;
}

.dash-container-mid {
    background-color: #f7f7fa;
    width: 50%;
    margin-top: 43px;
}


