.map-container {
    position: relative;
    /* min-width: 500px; */
    width: 850px;
    height: 350px;
    float: left;
}

.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
}

.activity-map-container {
    width: 850px;
    height: 340px;
    position: relative;
}