body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  font-weight: 400;
}

.nav-header {
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 1;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 0px 70px 0px 70px;
    padding: 0 16px;
}

.nav-header-logo {
    color: orangered;
    font-weight: bold;
    font-size: 30px;
}

.session-link {
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    border: .5px solid #dfdfe8;
    padding: 6px 16px;
    margin: 5px;
}

.session-link:hover {
    background-color: gainsboro;
    filter: brightness(90%);
}

.active-link {
    background-color: orangered;
}

.active-link:hover {
    background-color: orangered;
    filter: brightness(90%)
}

.footer {
    background-color: rgb(36,36,40);
    height: 40px;
    padding: 20px;
}

.footer > h2 {
    color: rgb(202, 179, 179);
    margin: 10px auto;
    font-weight: bold;
}

.nav-left  {
    display: flex;
}


.nav-bar-main {
    background: pink;
    margin-left: 50px;
    
}
.nav-bar-list {
    display: flex;
   
}

.nav-bar-list > li {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 10px 16px;
}

.dashboard-list-hide {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 40px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  width: 125px;
}

.dashboard-list-hide > li:hover {
  background: #eee;
}

li:hover .dashboard-list-hide {
  display: block;
}

.downarrow {
  display: inline;
  font-weight: bold;
  font-size: 14px;
  padding: 1px 6px;
}
