body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  font-weight: 400;
}

.nav-header {
    border-bottom: 1px solid #ccc;
}



.container {
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px 100px;
    padding: 8px 16px;
}

.nav-content {
   display: flex;
    justify-content: space-between;
    align-items: center;
     margin: 0px 100px 0px 100px;
    padding: 0 16px;
}

.nav-header-logo {
    color: orangered;
    font-weight: bold;
    font-size: 30px;
}

.session-link {
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    border: .5px solid #dfdfe8;
    padding: 8px 16px;
    margin: 10px;
}

.session-link:hover {
    background-color: gainsboro;
    filter: brightness(90%);
}

.active-link {
    background-color: orangered;
}

.active-link:hover {
    background-color: orangered;
    filter: brightness(90%)
}

.footer {
    background-color: rgb(36,36,40);
    height: 40px;
    padding: 20px;
}

.footer > h2 {
    color: rgb(202, 179, 179);
    margin: 10px auto;
    font-weight: bold;
}

.nav-left  {
    display: flex;
    height: 53px;
    align-items: center;
}


.nav-bar-main {
    background: white;
    margin-left: 50px;
    display: flex;
    align-items: center;
    height: 100%
}
.nav-bar-list {
    display: flex;
    /* padding: 8px, 15px; */
    justify-content: space-between;
    height: 100%;
}

.nav-bar-list > li {
    font-size: 14px;
    position: relative;
}

.top-bar > a {
    display: block;
    height: 100%;
    text-align: center;
    padding: 0 13px 0px 10px;
line-height: 55px;
}


.nav-bar-list li:hover { 
    display: block;
      border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.dashboard-list-hide {
  display: none;
  position: absolute;
  z-index: 2;
  left: -1px;
  top: 54px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
   width: 140px;
         /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
}
/* .dashboard-list-hide > li {
    width: 125px;
    height: 40px;
    text-align: center;
} */

.nav-link-active {
    border-bottom: 2px solid orangered;
}

.nav-link-active-bold {
    font-weight: bold;
}

.dashboard-list-hide > li:hover {
  background: #eee;

  /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
}

.dashboard-list-hide > li > a {
    display: block;
    padding: 15px;
    text-align: center;
}

li:hover .dashboard-list-hide {
  display: block;
}

.dashboard-list-hide:last-child {
    border-bottom: 2px solid orangered;
}

.downarrow {
  display: inline;
  font-weight: bold;
  font-size: 14px;
  padding: 1px 6px;
}
