.route-main-container {
    font-size: 14px;
     margin: 25px 100px 100px 100px;
    padding: 0 16px;
}

.route-show-container {
    display: flex;
}

.route-show-data {
    width: 280px;
    margin: 0 16px;
    min-width: 280px;
}
.route-title {
    margin: 20px 0;
}


.data-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid gainsboro;
}
.route-stat-date {
    padding: 16px;
}
.route-date {
    display: block;
    border-bottom: 1px solid gainsboro;
}

.my-routes-link {
    color: grey;
}

.my-routes-link:hover {
    text-decoration: underline;
}

.route-description {
    font-size: 14px;
    padding: 14px 0;
    padding-left: 14px;
}

.description-title {
    padding: 15px 0 0 12px;
}

.route-btns {
    display: flex;
    justify-content: flex-start;
}

.route-btn {
     font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    border: .5px solid #dfdfe8;
    padding: 8px 16px;
    /* margin: px; */
    margin-top: 10px;
    align-self: right;
}

.route-btn:hover {
   background-color: gainsboro;
     filter: brightness(95%);
}
.route-moving-time {
    padding: 16px;
}

.route-form-data {
    border: 1px solid grey;
    color: black;
    margin-top: 6px;
    /* border-radius: 4px; */
    height: 30px;
    width: 190px;
    font-size: 16px;
}

.route-form-data:focus {
    box-shadow:  2px 2px 2px 1px whitesmoke;
    color: black;
    border: 1px solid lightskyblue;
}

.form-section-name {
    padding: 12px;
}

.create-form-title {
    padding: 12px;
}


.route-form-text {
    font-size: 16px;
    border: 1px solid grey;
}

.route-form-text:focus {
    box-shadow:  2px 2px 2px 1px whitesmoke;
    color: black;
    border: 1px solid lightskyblue;
}



