.route-container {
    font-size: 14px;
     margin: 20px 100px 20px 100px;
    padding: 0 16px;
}

.route-index-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.route-index-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.route-index-title {
    font-size: 2.5em;
    padding-top: 0;
    padding-bottom: 16px;
}

.map-img {
  width: 175px;
  height: 100px;
}

.route-index-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: space-evenly; */
    align-content: flex-start;
}

.no-routes {
    text-align: center;
    min-height: 300px;
}

.route-index-container {
    margin-top: 20px;
}

.route-index-item {
    width: 275px;
      margin: 0 1.6% 40px 0;
}


.map-canvas-route {
    height: 175px;
    position: relative;
  text-align: center;
    width: 100%;
}


.route-data {
    height: 200px;
    background-color: #f0f0f0;
}

h3.route-name {
    margin: 0;
}

.map-static-img {
    width: 100%;
    height: 100%;
}

.map-static-image {
    width: 100%;
    height: 100%;
}

.placeholder {
 position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.route-name {
    color:  #007FB6;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 10px;
}

.route-name:hover {
    text-decoration: underline;
}

.route-stats {
    padding: 15px;
}

.data-flex-index {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.moving-time-index {
    padding-left: 16px;
    padding-bottom: 12px;
}

.route-timestamp {
    background-color: #f0f0f0;
    filter: brightness(90%);
    padding-left: 16px;
    padding-bottom: 14px;
    padding-top: 10px;
    font-size: 12px;
    color: grey;
}