.route-new-container {
    display: flex;
    justify-content: center;
   border-bottom: 1px solid gainsboro;
   
}


.new-map-container {
    position: relative;
    width: 80%;
    height: 500px;
    float: left;
 
}

.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
}

.route-form {
     display: flex;
    flex-direction: column;
    min-width: 20%;
}

.new-form-stats {
    display: flex;
}

.route-new-time {
    padding: 14px 16px 14px 16px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

.stat-data {
    font-size: 20px;
}


.stat-label {
    color: gray;
    font-size: 15;
}

textarea {
  resize: none;
}

.create_route_submit {
    background-color: orangered;
    border: 1px solid black;
    color: white;
    border-radius: 4px;
    margin-left: 60px;
    height: 35px;
    width: 160px;
    text-align: center;

}

.center-submit {
    /* display: flex;
    justify-content: center; */
}
.create_route_submit:hover {
    background: orangered;
     filter: brightness(85%);
}

.create-route-error-messages {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}
.bottom-info-flex {
   display: flex;
   justify-content: space-between; 
}

.help {
    color: grey;
    padding-right: 10px;
    margin: 5px 5px 5px 5px;
}